.PageHeader {
    background-color: #09090b;
    padding: 10px 20px;
    color: rgb(255, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    font-size: x-large;
    position: fixed;
    z-index: 1;
}