.Card {
    flex-shrink: 0;
    height: 450px;
    width: 400px;
    border-radius: 25px;
    background-color: rgb(25, 25, 25);
    overflow: hidden;
    position: relative;
}

.Image {
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
    display: block;
}