* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* Ensure the root page doesn't inject a white canvas */
    background-color: transparent;
    
}